.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100px;
    width: 100%;
}

#logo {
    
}


.content {
    height: 700px;
    width: 100%;
    background-color: rgba(27, 24, 0, 0.705);
}

.footer {
    height: 200px;
    width: 100%;
    background-color: aliceblue;

}

