.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100px;
    width: 100%;
}

.logo {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display:flex;
    gap: 20px;
    margin: 50px;
}

.links a {
    text-decoration: none;
    color: rgb(23, 23, 2);
}


.content {
    height: 700px;
    width: 100%;
    background-color: rgba(27, 24, 0, 0.705);
}

.footer {
    height: 200px;
    width: 100%;
    background-color: aliceblue;

}

