.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    height: 100px;
    width: 100%;
}

.logo {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display:flex;
    gap: 20px;
    margin: 50px;
}

.links a {
    text-decoration: none;
    color: rgb(23, 23, 2);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #e1af09;
    color: rgb(255, 255, 255);
    padding-top:10%;
    padding-bottom: 10%;
}

.topbox, .bottombox, .middlebox, .midtopbox, .midbotbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin: 25px;
}

.middlebox {
    align-items: center;
}

.bubble {
    width: 10vw;
    height: 10vw;
    background-color: #d4a509;
    border: transparent;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgb(36, 37, 51);

}

.bubble:hover {
    border: #c69906;
    box-shadow: none;
    background-color: #715703;
    cursor: pointer;
}

.bubble img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.title {
    font-size: 4vw;

}

.popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}