body {
    background-image: url(../images/home_background_2.jpg);
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1024px 1024px;
    background-attachment: scroll;
    min-width: 700px;
    min-height: 750px;
    overflow-x: scroll;

}

.body {
    margin-top: 425px;
    text-align: left;
}

h1 {
    color: aliceblue;
    text-align: center;
    margin-bottom: 15px;
}

#box {
    margin-left: 23vw;
    margin-right: 10vw;

}

#page_left {
    margin-left: 10px;
}

.button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: none;
    border-color: #FAFBFD;
    color: black;
    box-shadow: inset;
    display: inline-block;
    padding: 1vw 2vh;
    font-weight: bolder;
    text-decoration: none;
}